@import "~src/mixins";

.b-header {
  flex-direction: column;
  align-items: center;
  color: dodgerblue;
  padding-top: 20px;

  .b-header__logo {
    .mat-icon {
      @include mat-icon-size(96px);
    }
  }

  .b-header__slogan {
    .b-header-slogan {
      width: 450px;

      @media screen and (max-width: 599px) {
        width: 320px;

        h1 {
          font-size: 1.5em;
        }
      }

      justify-content: space-evenly;
    }
  }
}
