<div class="b-header" xmlns="http://www.w3.org/1999/html">
  <div class="b-header__logo">
    <mat-icon [matBadge]="areHacksFound ? domainHacks.size : undefined">
      {{areHacksFound ? 'gps_fixed' : 'gps_not_fixed'}}
    </mat-icon>
  </div>
  <div class="b-header__slogan">
    <div class="b-header-slogan">
      <div class="b-header-slogan__word">
        <h1>Doma<span class="green">.in</span></h1>
      </div>
      <div class="b-header-slogan__word">
        <h1>Ha<span class="blue">.ck</span></h1>
      </div>
      <div class="b-header-slogan__word">
        <h1>Sear<span class="red">.ch</span></h1>
      </div>
    </div>
  </div>
</div>
