$logo-size: 48px;

.b-header {
  flex-direction: column;
  align-items: center;

  .b-header__logo {
    .mat-icon {
      font-size: $logo-size;
      height: $logo-size;
      width: $logo-size;
    }
  }
}
