@import "~src/mixins";

.b-footer {
  align-items: center;
  color: white;

  mat-icon {
    padding-right: 5px;
  }

  .b-footer__links {
    align-items: center;

    a {
      color: white;
    }
  }

  .b-footer__delimiter {
    padding-left: 10px;
    padding-right: 10px;
  }

  .b-footer__build {
    align-items: center;

    mat-icon {
      padding-right: 7px;
      @include mat-icon-size(20px);
    }
  }
}
