<div *ngIf="domainHacks && domainHacks.length" class="b-search-result">
  <mat-table [dataSource]="domainHacks">
    <ng-container matColumnDef="domain">
      <mat-header-cell *matHeaderCellDef>Domain</mat-header-cell>
      <mat-cell *matCellDef="let domainHack">{{domainHack.subDomain + '.' + domainHack.tld.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="manager">
      <mat-header-cell *matHeaderCellDef>TLD Manager</mat-header-cell>
      <mat-cell *matCellDef="let domainHack">{{domainHack.tld.sponsor}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
      <mat-cell *matCellDef="let domainHack">
        {{domainHack.tld.emojiFlag ? domainHack.tld.emojiFlag.emoji + ' ' + domainHack.tld.emojiFlag.name : ''}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['domain', 'manager', 'country']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['domain', 'manager', 'country']"></mat-row>
  </mat-table>
</div>
