<div class="b-search-input">
  <mat-form-field appearance="outline">
    <input
      matInput
      [formControl]="searchBoxControl"
      type="search"
      (keyup)="setCurrentTerm(searchBoxControl.value)"
      placeholder="e.g., internet"
      autocomplete="off"
    />
    <button mat-button *ngIf="searchBoxControl.value" matSuffix mat-icon-button (click)="setCurrentTerm('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="searchBoxControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
