.b-app {
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .b-app__top {
    height: 35%;
    justify-content: flex-end;
  }
  .b-app__middle {
    height: 60%;
    justify-content: flex-start;
  }
  .b-app__bottom {
    height: 5%;
    justify-content: center;
  }
}

.b-search {
  align-items: center;

  .b-search__result {
    margin-top: 40px;
  }
}
