.b-app {
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .b-app__top {
    height: 35%;
    align-items: flex-end;
  }
  .b-app__middle {
    height: 60%;
  }
  .b-app__bottom {
    height: 5%;
    background-color: #3f51b5;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
