.b-app {
  flex-direction: column;
  align-items: center;

  .b-app__top {
    min-height: 35vh;
    align-items: flex-end;
  }
  .b-app__middle {
    min-height: 60vh;
  }
  .b-app__bottom {
    min-height: 5vh;
    background-color: #3f51b5;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
