body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  > h1 {
    display: none;
  }
}

div {
  display: flex;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

.red {
  color: tomato;
}

.green {
  color: forestgreen;
}

.orange {
  color: orange;
}

.tooltip-14 {
  font-size: 14px;
}
